language: ruby
before_install: gem update --system
rvm:
  - 2.0.0
  - 2.1.0
notifications:
  email:
    - fastlane@krausefx.com
addons:
    code_climate:
        repo_token: 262bfc07c9d6b60a1010d751bd154790c043a05bb8115c1ba992eeb1d2af1044