# https://www.appveyor.com/docs/appveyor-yml/

version: "{build}"

# branches to build
branches:
  # whitelist
  only:
    - master

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

# Do not build additional commits to feature branch with open Pull Requests
skip_branch_with_pr: true

# Rolling builds
# can only be configured via UI: https://www.appveyor.com/docs/build-configuration/#rolling-builds

init:
  - git config --global core.autocrlf true

# cloning the repository happens here

install:
  - set PATH=C:\Ruby24-x64\bin;%PATH%
  - bundle install
  # - cinst gtk-runtime # includes iconv
  - ps: Install-ChocolateyPackage "gtk-runtime" "exe" "/S" "http://downloads.sourceforge.net/gtk-win/gtk2-runtime-2.24.10-2012-10-10-ash.exe?download" -validExitCodes @(0) -checksum "afd74fbc35743a5528f07f21837978e10c078965" -checksumType "sha1"

environment:
  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8
  FASTLANE_ITUNES_TRANSPORTER_PATH: C:/tmp

before_test:
  - ruby -v
  - which ruby
  - gem -v
  - bundle -v
  - which iconv

build: off

test_script:
  - bundle exec fastlane execute_tests
