# https://www.appveyor.com/docs/appveyor-yml/

version: "{build}"

# https://www.appveyor.com/docs/windows-images-software/
image: 'Visual Studio 2019'

# branches to build
branches:
  # allowlist
  only:
    - master

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

# Do not build additional commits to feature branch with open Pull Requests
skip_branch_with_pr: true

init:
  - git config --global core.autocrlf true

cache:
  - vendor/bundle

# cloning the repository happens here
install:
  - bundle install

environment:
  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8
  FASTLANE_ITUNES_TRANSPORTER_PATH: C:/tmp

before_test:
  - ruby -v
  - which ruby
  - gem -v
  - bundle -v
  - which iconv
  - which git
  - git --version

build: off

test_script:
  # Uncomment the first line and comment the second one to debug failing tests
  # on Windows (some tests might fail with this).
  # - cmd /V /C "set DEBUG=1 && bundle exec fastlane execute_tests"
  - bundle exec fastlane execute_tests
