# https://www.appveyor.com/docs/appveyor-yml/

version: "{build}"

# branches to build
branches:
  # allowlist
  only:
    - master

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

# Do not build additional commits to feature branch with open Pull Requests
skip_branch_with_pr: true

# Rolling builds
# can only be configured via UI: https://www.appveyor.com/docs/build-configuration/#rolling-builds

init:
  - git config --global core.autocrlf true

cache:
  - vendor/bundle

# cloning the repository happens here

install:
  - ps: |
      $env:PATH = "C:\Ruby32-x64\bin;$env:PATH"
      $version = (Get-Content Gemfile.lock | Select-Object -Last 1).Trim()
      gem install bundler --force -v $version
      bundle install

      # Download and silently install libiconv
      $iconvUrl = "https://downloads.sourceforge.net/project/gnuwin32/libiconv/1.9.2-1/libiconv-1.9.2-1.exe?download"
      $iconvPath = Join-Path $env:TEMP "libiconv.exe"
      Invoke-WebRequest -Uri $iconvUrl -OutFile $iconvPath
      Start-Process -FilePath $iconvPath -ArgumentList "/SILENT", "/SUPPRESSMSGBOXES" -Wait

environment:
  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8
  FASTLANE_ITUNES_TRANSPORTER_PATH: C:/tmp

before_test:
  - ruby -v
  - which ruby
  - gem -v
  - bundle -v
  - which iconv
  - which git
  - git --version

build: off

test_script:
  # Uncomment the first line and comment the second one to debug failing tests
  # on Windows (some tests might fail with this).
  # - cmd /V /C "set DEBUG=1 && bundle exec fastlane execute_tests"
  - bundle exec fastlane execute_tests
