<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA86FA901BBE0D7700AF5C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA86FAA91BBE0D7700AF5C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA86FAB41BBE0D7700AF5C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
