version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.3
        environment:
          CIRCLE_TEST_RESULTS: $HOME/test-results
          LC_ALL: C.UTF-8
          LANG: C.UTF-8
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout

      - restore_cache:
          key: fastlane-v2-gems-{{ checksum "Gemfile" }}
      - run:
          name: Setup Build
          command: |
            mkdir -p $CIRCLE_TEST_RESULTS
            echo "2.3" > .ruby-version
            gem update --system
            sudo apt-get install shellcheck
            bundle check || bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run:
          name: Install additional dependencies
          command: |
            wget https://github.com/downloads/mackyle/xar/xar-1.6.1.tar.gz
            tar -xzf xar-1.6.1.tar.gz
            cd xar-1.6.1
            ./autogen.sh --noconfigure
            ./configure
            make
            sudo make install
      - save_cache:
          key: fastlane-v2-gems-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      - run:
          name: Check PR Metadata
          command: bundle exec danger || echo "danger failed"

      - run:
          name: Ruby lang
          command: |
            ruby -e 'puts Encoding.default_external'

      - run: bundle exec fastlane test

      - store_test_results:
          path: /Users/distiller/test-results

      - run:
          name: Post Test Results to GitHub
          command: bundle exec danger || echo "danger failed"
          when: always # Run this even when tests fail
