# It takes a lot of disk space to commit the `Data/` directory in the `.xcresult` bundle,
# While the `database.sqlite3` file is enough to run the `trainer` specs suite.
#
# Tip: to generate the `database.sqlite3` file from the `Data/` directory if it doesn't exist, run the following command:
#
# ```bash
# xcrun xcresulttool get test-results tests --path Xcode16-Mixed-XCTest-SwiftTesting-Project.xcresult
# ```
Xcode16-Mixed-XCTest-SwiftTesting-Project.xcresult/Data
!Xcode16-Mixed-XCTest-SwiftTesting-Project.xcresult/database.sqlite3

# For old .xcresult bundle fixtures (< Xcode 15) that were introduced in this repo before we added Xcode 16 support,
# let's keep the status quo and still commit the whole `Data/` directory, especially since those fixtures are used
# by the legacy versions of `xcresulttool` that might not support the new `database.sqlite3` internal representation.
!Test.*.xcresult/Data
Test.*.xcresult/database.sqlite3
