<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>262566BA1DE3715500BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262566C61DE3717600BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262566DE1DE3718D00BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262566EC1DE3719600BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262566F81DE371C000BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7715C3D31DDAFAFD004C3B4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7715C3E11DDB218B004C3B4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776277271DE4244A003B376D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
