---
name: Process issues
on:
  issues:
    types:
      - opened
permissions:
  issues: write

jobs:
  fastlane-env:
    name: Remind user about posting their fastlane env
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: fastlane/github-actions/fastlane-env-reminder@latest
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
